/* 

html{
   background-color: #272727 !important;
   color: #FB05FF !important; 
}

Black: #272727

Pink: #FB05FF 

Purple: #9013FE

*/

body{
    padding: 0px !important;
}

body.busy-cursor {
    cursor: progress;
}

.lastdeploy h2, .org-last-deploy-details h2 {
    font-size: 1.05rem;
    margin-bottom: 0.5rem;
}

.lastdeploy {
    padding: 15px;
}
.create-org-wrapper,
.res-table{
    padding: 15px;
}

.refreshListBtn{
    float: right;
    background: white !important;
    padding: 5px !important;
    margin: 0px 0px 5px 5px;
}

.org-list-title{
    margin-top: 10px !important;
    display: inline-flex !important;
}

#selected-directory{
    cursor: pointer;
}

#directory{
    padding: 15px;
}

.refresh-org-btn{
    margin-left: 15px;
}

.lastdeploy.show {
    top: 0;
}

.svninfo{
    justify-content: center;
    display: flex;
    flex-flow: column;
}

.svninfo code {
    white-space: pre-line;
    padding: 5px 10px;
    display: block;
    background: black;
    color: mediumseagreen;    
}

#code {
    /* background: red; */
    height: 0px;
    overflow: hidden;
    transition: height 2s;
    -moz-transition: height 2s; /* Firefox 4 */
    -webkit-transition: height 2s; /* Safari and Chrome */
    -o-transition: height 2s; /* Opera */
}

#code-hide{
    display: none;
}

.pushinfo {
    display: flex;
    justify-content: space-between;
}

.org, .pushdate {
    flex: 1 0 auto;
}

#org_alias_input{
    width: 300px;
}

.spinner-wrapper{
    display: none;
    position: fixed;
    height: 110%;
    width: 100%;
    background-color: white;
    opacity: 0.8;
    z-index: 5;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;    
    /* display: flex; */
}

.showHideToggle{
    
}
